<div class="container">
  <div class="row">
    <div class="col-sm">

      <h3>Welcome to</h3>
      <h1>{{title}}</h1>
    </div>
    <div class="col-sm">
      <div class="spinner-border spinner-border-xl text-primary"></div>
    </div>
    <div class="col-sm buttonLogin">
      <button type="button" name="" id="" class="btn btn-primary loginFb">Login with FACEBOOK</button>
    </div>
  </div>
</div>
