<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Welcome to</h3>
      <h1>{{title}}</h1>
    </div>
    <div class="col-sm">
      <img src="/images/map.png" class="img-fluid rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle" alt="">
    </div>
    <div class="col-sm buttonLogin">
      <a href="/auth/login"><button type="button" name="" id="" class="btn btn-primary">LOGIN</button></a>
    </div>
  </div>
</div>