<div class="container">
  <div class="row" id="slotPicture">
    {{#each user.pictures}}
    <div class="cardGames">
      
      <figure class="col-md-4">
        <img alt="picture" src="{{this}}"
          class="img-fluid">
        </a>
      </figure>

    </div>
    {{/each}}


  </div>
</div>