<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>PROFILE</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="/images/profile.jpg"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Alberto González
        </div>
        <div class="card-body">
          <h4 class="card-title">Game Name</h4>
          <p class="card-text">Current Point: 5</p>
        </div>

      </div>
    </div>

  </div>

  <div class="row buttonChoice">
    <div class="col">
      <a name="" id="" class="btn btn-primary" href="/game/newGame" role="button"><h4>Create Game</h4><p>Create your own game and invite your friends to start a challenge</p></a>
    
    </div>
  </div>
  <div class="row buttonChoice">
       <div class="col">
      <a name="" id="" class="btn btn-success" href="/game/joinGame" role="button"><h4>Join Game</h4><p>Join a friend challenge and prove your habilities</p></a>
    </div>
  </div>
</div>