<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>CLUE</h1>
    </div>
  </div>

  <div class="row">
    <div class="info-card">
      <div class="front">
        <img class="card-image" src="/images/clue.svg" width="100%">
      </div>
      <div class="back">

        <img class="card-image" src="{{spot.picture}}" width="100%">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm uploadPhoto">
      <h2>Upload your photo</h2>
      <h5 id="message"></h5>
      <form action="/game/clue/uploadPhoto" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" id="photoUpload">
        <button type="submit" value="Send" disabled id="sendButton">Send</button>
      </form>

    </div>

  </div>
  <input type="hidden" value="{{spot._id}}" id="spotId">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
 <script src="/javascripts/metadata.js"></script>
