<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>CLUE</h1>
    </div>
  </div>

  <div class="row">
    <div class="info-card">
      <div class="front">
        <img class="card-image" src="/images/clue.svg" width="100%">
      </div>
      <div class="back">

        <img class="card-image" src="/images/clue.jpg" width="100%">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm uploadPhoto">
      <h2>Upload your photo</h2>
      <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" id="photoUpload">
        <input type="submit" value="Send">
      </form>

    </div>

  </div>
</div>