<div class="container">
  <div class="row">
    <div class="col-sm">

      <h4>Join the</h4>
      <h1>GAME NAME</h1>
    </div>
    <div class="col-sm">
      <div class="media">
        <div class="media-body">
          <h5>Game Author</h5>
          <p>This game will take you through the most historic streets of Madrid. Let's see how much you know about your
            own city</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      {{#each games}}
        {{name}}
        {{state}}
        {{map.mapDescription}}
        <a href="/game/joinGame/{{_id}}">Join the game</a>
      {{/each}}
      {{!-- <a href="/game/clue"><img src="/images/play.png" alt="" class="imgPlay"></a> --}}
    </div>

    <div class="col-sm">
      <div class="col-sm buttonLogin">
        <a href="/game/clue"><button type="button" name="" id="" class="btn btn-primary joinGame">JOIN
            NOW</button></a>

      </div>
    </div>
  </div>
</div>