<div id="map" style="width:400px; height:400px"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm_Pc1bLgLi60UI91XcJ7jpwJzG8NgU4w"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="../javascripts/map.js"></script>