<div class="container containerNewGame">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
          placeholder="Introduce the game name">
      </div>
      <div id="map"></div>
    </div>
    <div class="col-sm createGameButton">
      <form action="post">
        <button type="submit">Create Game</button>
      </form>

<div id="markersInfo">
  <form action="/game/newGame" method="POST" id="newGameForm">
    <label for="gameDescription">Enter a description for your Game:</label>
    <input type="text" name="gameDescription">
    <label for="gameReward">The reward:</label>
    <input type="text" name="gameReward">
    <label for="startDate">Start Date and Time</label>
    <input type="date" name="startDate">
    <label for="endDate">Finish Date and Time</label>
    <input type="date" name="endDate">
    <input type="hidden" name="totalSpots" value='' id="totalSpots">
    <button type="submit">Create Game</button>
  </form>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCekv9TIkClXh5EfD8V7pObO2gTrs_g__A"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="../javascripts/map.js"></script>